@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/src/fonts/inter-400.woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("/src/fonts/inter-700.woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("/src/fonts/inter-900.woff2");
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter;
    font-size: 16px;
    color: #2D3440;
    background-color: #feafc3;
}

/* 
    Page - Header
*/

.page-header {
    width: 1170px;
    height: 104px;
    margin: 0 98px 0 98px;
    display: flex;
    justify-content: space-between;
    gap: 164px;
}

.page-navigation {
    display: flex;
    margin: 24px 0 24px 0;
    gap: 16px;
}

.page-logo {
    align-self: center;
}

.page-navigation-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    list-style-type: none;
}

.phone-link {
    font-weight: 700;
}

.page-navigation-item {
    align-self: center;
    color: #2D3440;
    padding: 8px 16px 8px 16px;
}

.catalog {
    display: flex;
    gap: 6px;
    align-self: center;
}

.catalog-arrow-down {
    padding: 0px;
    margin: 0px;
    align-self: center;
}

.dropdown-catalog {
    position: relative;
}

.dropdown-catalog-list {
    position: absolute;
    top: 30px;
    right: -40px;
    margin: 0;
    background-color: #FCFCFC;
    width: 135px;
    height: 188px;
    list-style-type: none;
    display: none;
    flex-direction: column;
    padding: 8px 0;
    border-radius: 4px;
}

.catalog:hover .dropdown-catalog-list,
.catalog:focus .dropdown-catalog-list {
    display: flex;
    z-index: 1;
}

.dropdown-catalog-item {
    font-size: 14px;
    padding: 6px 0 6px 16px;
    padding-left: 16px;
    height: 32px;
}

.link {
    text-decoration: none;
    color: #2D3440;
}

.page-menu {
    padding: 0;
    margin: 0;
    align-self: center;

}

.page-menu-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.page-menu-item {
    list-style-type: none;
    align-self: center;
}

.button {
    border-radius: 30px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin: 0;
    border: 0;
    font-size: 14px;
    color: #2D3440;
    background-color: #FCFCFC4D;
}

.search-button {
    width: 32px;
    border-radius: 27px;
    height: 32px;
    padding: 8px;
}

.search-button:hover {
    background-color: #FCFCFC80;
}

.search-button:active {
    background-color: #FCFCFC;
    border: none;
}

.search-button:focus {
    background-color: #FCFCFC80;
    border: 2px solid #2D3440;
}

.page-navigation-item:hover {
    border-radius: 30px;
    background-color: #FCFCFC80;
}

.page-menu-item:hover {
    border-radius: 30px;
    background-color: #FCFCFC80;
}

/* 
    Footer
*/
.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    height: 153px;
    margin: 0 98px 0 98px;
    border-top: 1px solid #FCFCFC;
}

.social-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 12px;
    align-items: start;
}

.social-list-item {
    list-style-type: none;
}

.footer-menu-list {
    margin: 0;
    width: 356px;
    height: 48px;
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-flow: column wrap;
    gap: 8px 24px;
    list-style-type: none;
}

.footer-menu-item:nth-child(2) {
    padding-left: 24px;
}

.current-link {
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}


.created-by {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    gap: 8px;
}


.news {
    font-weight: 700;
    height: 29px;
    padding: 8px 16px;
}

.border-for-news {
    width: 71px;
    border-bottom: 1px solid #B9B9B9;
    align-self: stretch;
    padding-top: 0;
    padding-bottom: 4px;
    margin-left: 20px;
    margin-bottom: 4px;
    height: 0;
}







.gllacy-shop-info-section {
    width: 1170px;
    height: 480px;
    margin: 0 98px 80px 98px;
    background-color: red;
}

.subscribe-section {
    width: 1170px;
    height: 224px;
    margin: 0 98px 80px 98px;
    background-color: green;
}

.delivery-section {
    width: 1170px;
    height: 534px;
    margin: 0 98px 80px 98px;
    background-color: pink;
}

.feedback-section {
    width: 1170px;
    height: 492px;
    margin: 0 98px 0 98px;
    background-color: black;
}







/* Ice-cream slider section */

.ice-cream-slider-section {
    width: 1170px;
    height: 554px;
    margin: 0 98px 80px 98px;
    display: flex;
    flex-direction: row;
}

.ice-cream-about {
    padding: 136px 0 136px 68px;
    margin-right: 41px;
    width: 429px;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
    margin: 0 0 24px 0;
}

.main-p {
    margin: 0 0 48px 0;
    width: 429px;
    font-size: 18px;
    font-weight: 400px;
}

.main-button {
    background-color: #FCFCFC;
    padding: 12px 32px;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 700;
}

.slide-show-main-card {
    width: 348px;
    height: 554px;
    margin-right: 41px;
    display: flex;
    justify-content: center;
}

.slide-show-next {
    width: 150px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-ice-cream {
    margin-right: 41px;
}

.big-ice-cream-red {
    padding: 21px 21px 26px 21px;
    position: absolute;
}

.yellow-little-ice-cream,
.white-little-ice-cream {
    position: absolute;
}


.back-pictire {
    background-color: #FFCBD8;
    width: 100px;
    height: 100px;
    align-self: center;
    border-radius: 50%;
    z-index: -1;
    opacity: 40%;
}

.main-back-pictire {
    width: 312px;
    height: 312px;
    opacity: 1;
}

.slider-arrow {
    width: 38px;
    height: 38px;
    top: 356px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background-color: rgba(252, 252, 252, 0.3);
    border: 2px solid #FCFCFC;
}

.slider-left-arrow-image {
    transform: rotate(180deg);
}

.slider-left-arrow {
    left: 615px;
}

.slider-right-arrow {
    left: 928px;
}

.page-bullets {
    height: 12px;
    width: auto;
    display: flex;
    gap: 8px;
    position: absolute;
    top: 646px;
    left: 98px;
}

.bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 30%;
    background-color: #FCFCFC;
}

.current-bullet {
    opacity: 1;
}

.slider-social-list {
    position: absolute;
    top: 636px;
    left: 1174px;
}

/* 
    Ad section
 */
.ad-section {
    width: 1170px;
    height: 416px;
    margin: 0 98px 80px 98px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ad-section-h2 {
    margin: 0 368px 55px;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    line-height: 46px;
    height: 92px;
    color: #2D3440;
}

.ad-banners {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.banner {
    width: 570px;
    height: 269px;
    background: #FF7799;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.ad-banner-about {
    width: 328px;
    display: flex;
    padding: 36px;
    padding-right: 0;
    flex-direction: column;
    justify-content: space-between;
}

.ad-main-p {
    text-align: start;
    font-size: 16px;
    line-height: 22px;
}

p {
    margin: 0;
}

.ad-button {
    width: 176px;
}

/* 
    Goods section
*/


.goods-section {
    width: 1170px;
    height: 480px;
    margin: 0 98px 80px 98px;
    display: flex;
    flex-direction: column;
}

.goods-section-h2 {
    width: 527px;
    margin: 0 321.5px 107px;
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    height: 92px;
    color: #2D3440;
}

.goods-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.goods-list-item {
    width: 270px;
    height: 281px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    gap: 16px;
    background-color: #FCFCFC;
    border-radius: 8px;
}

.goods-about {
    display: flex;
    width: 190px;
    height: 124px;
    padding: 0 40px 24px;
    flex-direction: column;
    text-align: center;
}

.goods-item-image {
    margin-top: -51px;
}

.to-buy-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h4 {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2D3440;
}

.goods-description {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #565C66;
}

.item-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3440;
    align-self: center;
}

.red-button {
    width: 32px;
    height: 32px;
    background-color: #FF2F64;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}